*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;


}

.div{
    height: 100px;
    width: 100px;
    background-color:blueviolet ;
   
    
}

